<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/control_flow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i = 10
if (i > 15):
    print("10 is less than 15")
print("I am Not in if")

I am Not in if

In [ ]:
i = 20
if (i < 30):
    print("20 is less than 30")
print("I am Not in if")

20 is less than 30
I am Not in if

In [ ]:
i = 20
if (i < 30):
  print("i is smaller than 15")

i is smaller than 15

In [ ]:
    print("i'm in if Block")

i'm in if Block

In [ ]:
i = 20
if (i < 30):
    print("i is smaller than 15")
    print("i'm in if Block")
else:
    print("i is greater than 15")
    print("i'm in else Block")
print("i'm not in if and not in else Block")

i is smaller than 15
i'm in if Block
i'm not in if and not in else Block

In [ ]:
i = 20
if (i > 30):
    print("i is greater than 15")
    print("i'm in if Block")
else:
    print("i is smaller than 15")
    print("i'm in else Block")
print("i'm not in if and not in else Block")

i is smaller than 15
i'm in else Block
i'm not in if and not in else Block

In [ ]:
def digitSum(n):
    dsum = 0
    for ele in str(n):
        dsum += int(ele)
    return dsum
List = [367, 111, 562, 945, 6726, 873]
newList = [digitSum(i) for i in List if i & 1]
print(newList)

[16, 3, 18, 18]

In [ ]:
def digitSum(n):
    dsum = 0
    for ele in str(n):
        dsum += int(ele)
    return dsum
List = [367, 110, 62, 94, 672, 700]
newList = [digitSum(i) for i in List if i & 1]
print(newList)

[16]

In [ ]:
i = 10
if (i == 10):
    if (i < 15):
        print("i is smaller than 15")

i is smaller than 15

In [ ]:
    if (i < 12):
        print("i is smaller than 12 too")
    else:
        print("i is greater than 15")

i is smaller than 12 too

In [ ]:
i = 20
if (i == 10):
    print("i is 10")
elif (i == 15):
      print("i is 15")
elif (i == 20):
    print("i is 20")
else:
    print("i is not present")

i is 20

In [9]:
i = 20
if (i == 30):
    print("i is 10")
elif (i == 15):
      print("i is 15")
elif (i == 20):
    print("i is 20")
else:
    print("i is not present")

i is 20

In [10]:
i = 20
if (i == 30):
    print("i is 20")
elif (i == 30):
      print("i is 20")
elif (i == 30):
    print("i is 20")
else:
    print("i is  present")

i is  present

In [11]:
i = 20
if (i == 30):
    print("i is 20")
elif (i == 30):
      print("i is 20")
elif (i == 30):
    print("i is 20")
else:
    print("i is not present")

i is not present

In [ ]:
i = 10
if i < 15:
    print("i is less than 15")

i is less than 15

In [ ]:
i = 10
print(True) if i < 15 else print(False)

True

In [14]:
i = 10
print(False) if i < 15 else print(True)

False

In [12]:
i = 10
print(False) if i > 15 else print(False)

False

In [13]:
i = 10
print(True) if i > 15 else print(True)

True

In [ ]:
count = 0
while (count < 3):    
    count = count+1
    print("Hello jungkook")

Hello jungkook
Hello jungkook
Hello jungkook

In [ ]:
count = 0
while (count < 3):   
    count = count+1
    print("Hello jungkook")
else:
    print("In Else Block")

Hello jungkook
Hello jungkook
Hello jungkook
In Else Block

In [ ]:
n = 7
for i in range(0, n):
    print(i)

0
1
2
3
4
5
6

In [ ]:
print("List Iteration")
l = ["jungkook", "for", "jungkook"]
for i in l:
    print(i)

List Iteration
jungkook
for
jungkook

In [ ]:
print("/nTuple Iteration")
t = ["jungkook", "for", "jungkook"]
for i in t:
    print(i)

/nTuple Iteration
jungkook
for
jungkook

In [ ]:
print("/nstring Iteration")
s = "jungkook"
for i in s:
    print(i)

/nstring Iteration
j
u
n
g
k
o
o
k

In [ ]:
print("\nstring Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 456
for i in d:
    print("%s %d" %(i,d[i]))

string Iteration
xyz 123
abc 456

In [ ]:
list = ["jungkook", "for", "jungkook"]
for index in range(len(list)):
    print (list[index])

jungkook
for
jungkook

In [ ]:
list = ["jungkook", "for", "jungkook"]
for index in range(len(list)):
    print (list[index])
else:
    print ("Inside Else Block")

jungkook
for
jungkook
Inside Else Block

In [ ]:
for i in range(1, 5):
    for j in range(i):
         print(i, end=' ')
    print()

1
2 2
3 3 3
4 4 4 4

In [ ]:
for letter in 'jungkookforjungkook': 
    if letter == 'e' or letter == 's':
         continue
    print ('Current Letter :', letter)
    var = 10

Current Letter : j
Current Letter : u
Current Letter : n
Current Letter : g
Current Letter : k
Current Letter : o
Current Letter : o
Current Letter : k
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : j
Current Letter : u
Current Letter : n
Current Letter : g
Current Letter : k
Current Letter : o
Current Letter : o
Current Letter : k

In [ ]:
for letter in 'jungkookforjungkook': 
    if letter == 'k' or letter == 'u':
         continue
    print ('Current Letter :', letter)
    var = 9

Current Letter : j
Current Letter : n
Current Letter : g
Current Letter : o
Current Letter : o
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : j
Current Letter : n
Current Letter : g
Current Letter : o
Current Letter : o

In [ ]:
    for letter in 'jungkookforjungkook': 
         if letter == 'j' or letter == 'u':
             break
print ('Current Letter :', letter)

Current Letter : j

In [ ]:
    for letter in 'jungkookforjungkook': 
         if letter == 'n' or letter == 'o':
             break
print ('Current Letter :', letter)

Current Letter : n

In [ ]:
for letter in 'jungkookforjungkook':
    pass
print ('Last Letter :', letter)

Last Letter : k

In [ ]:
for letter in 'jungkookforjungkoo':
    pass
print ('Last Letter :', letter)

Last Letter : o

In [ ]:
fruits = ["apple", "orange", "kiwi"]
for fruit in fruits:
 print(fruit)

apple
orange
kiwi

In [ ]:
fruits = ["apple", "orange", "kiwi"]
iter_obj = iter(fruits)
while True:
  try:
      fruit = next(iter_obj)
      print(fruit)
  except StopIteration:
       break

apple
orange
kiwi