<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
point = {"x":1 , "y":2}
point = dict(x = 1,y = 2)
print(point)

{'x': 1, 'y': 2}

In [ ]:
point = dict(x=1,y=2)
point["x"]=10
point["z"]=20
print(point)

{'x': 10, 'y': 2, 'z': 20}

In [ ]:
point = dict(x=1,y=2)
point["x"]=10
point["z"]=20
print(point["z"])

20

In [ ]:
point = dict(x=1,y=2)
point["x"]=10
point["z"]=20
print(point.get("b"))

None

In [ ]:
point = dict(x=1,y=2)
point["x"]=10
point["z"]=20
del point["x"]
print(point)

{'y': 2, 'z': 20}

In [ ]:
point = dict(x=1,y=2)
point["x"]=10
point["z"]=20
for x in point.items():
    print(x)

('x', 10)
('y', 2)
('z', 20)

In [ ]:
Dict = {1: 'jungkook', 2: 'For', 3: 'jungkook'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'jungkook', 2: 'For', 3: 'jungkook'}

In [ ]:
Dict = {'Name': 'jungkook', 1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

Dictionary with the use of Mixed Keys:
{'Name': 'jungkook', 1: [1, 2, 3, 4]}

In [ ]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)

Empty Dictionary:
{}

In [ ]:
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'})
print("\nDictionary with the use of dict(): ")
print(Dict)

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [ ]:
Dict = dict([(1, 'Geeks'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

In [ ]:
Dict = {1: 'jin', 2: 'For',
        3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'jin'}}
print(Dict)

{1: 'jin', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'jin'}}

In [ ]:
Dict = {}
print("Empty Dictionary: ")
print(Dict)

Empty Dictionary:
{}

In [ ]:
Dict[0] = 'jk'
Dict[2] = 'For'
Dict[1] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)

Dictionary after adding 3 elements:
{0: 'jk', 2: 'For', 1: 1, 'Value_set': (2, 3, 4)}

In [ ]:
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 1: 1, 'Value_set': (2, 3, 4)}

In [ ]:
Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)

Updated key value:
{0: 'jk', 2: 'Welcome', 1: 1, 'Value_set': (2, 3, 4)}

In [ ]:
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'jk'}}
print("\nAdding a Nested Key: ")
print(Dict)

Adding a Nested Key:
{0: 'jk', 2: 'Welcome', 1: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'jk'}}}

In [ ]:
Dict = {1: 'jk', 'name': 'For', 3: 'jk'}
print("Accessing a element using key:")
print(Dict['name'])

Accessing a element using key:
For

In [ ]:
print("Accessing a element using key:")
print(Dict[1])

Accessing a element using key:
jk

In [ ]:
Dict = {1: 'jin', 'name': 'For', 3: 'jin'}
print("Accessing a element using get:")
print(Dict.get(3))

Accessing a element using get:
jin

In [ ]:
Dict = {'Dict1': {1: 'jin'},
        'Dict2': {'Name': 'For'}}
print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

{1: 'jin'}
jin
For

In [ ]:
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'jk',
        'A' : {1 : 'jin', 2 : 'For', 3 : 'jimin'},
        'B' : {1 : 'suga', 2 : 'Life'}}
print("Initial Dictionary: ")
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'jk', 'A': {1: 'jin', 2: 'For', 3: 'jimin'}, 'B': {1: 'suga', 2: 'Life'}}

In [ ]:
del Dict[6]
print("\nDeleting a specific key: ")
print(Dict)

Deleting a specific key:
{5: 'Welcome', 7: 'jk', 'A': {1: 'jin', 2: 'For', 3: 'jimin'}, 'B': {1: 'suga', 2: 'Life'}}

In [ ]:
del Dict['A'][2]
print("\nDeleting a key from Nested Dictionary: ")
print(Dict)

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'jk', 'A': {1: 'jin', 3: 'jimin'}, 'B': {1: 'suga', 2: 'Life'}}

In [ ]:
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}
Dict.clear()
print("\nDeleting Entire Dictionary: ")
print(Dict)

Deleting Entire Dictionary:
{}

In [ ]:
values = []
for x in range(5):
    values.append(x*2)
    print(values)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

In [ ]:
values ={x*2 for x in range(5)}
print(values)

{0, 2, 4, 6, 8}

In [ ]:
values = {x:x*2 for x in range(5)}
print(values)

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8}

In [16]:
numbers=[1,2,3,4]
print(*numbers)
print(numbers)

1 2 3 4
[1, 2, 3, 4]

In [17]:
values = list(range(5))
values =[*range(5),*'hello']
print(values)

[0, 1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

In [ ]:
print("enter the num1")
num1 = input()
print("enter the num2")
num2 = input()
print("the sum of num1 and num2 is",int(num1)+int(num2))
print("this line is important")

In [19]:
print("this line is important")

this line is important