<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function():
  print("Hello from a function")

In [ ]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [ ]:
def my_function(fname):
  print(fname + " Refsnes")
my_function("Email")
my_function("Tobias")
my_function("Linus")

Email Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)
my_function("Emil", "Refsnes")

Emil Refsnes

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)
my_function("Email")

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])
my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])
my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def my_function(food):
  for x in food:
    print(x)
fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

In [ ]:
def my_function(x):
  return 5 * x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
def myfunction():
  pass

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result
print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [1]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)
my_function(child1 = "Email", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [2]:
def greet(name, msg):
    print("Hello", name + ', ' + msg)
greet("jin", "Good morning!")

Hello jin, Good morning!

In [3]:
def greet(name, msg="Good morning!"):
    print("Hello", name + ', ' + msg)
greet("jin")
greet("jungkook", "How do you do?")

Hello jin, Good morning!
Hello jungkook, How do you do?

In [4]:
def greet(*names):
    for name in names:
        print("Hello", name)
greet("jin", "j hope", "v", "Jungkook")

Hello jin
Hello j hope
Hello v
Hello Jungkook

In [5]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))
num = 3
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

In [6]:
c = 1
def add():
    print(c)
add()

1

In [ ]:
c = 1
def add():
    c = c + 2
    print(c)
add()

In [10]:
c = 0 
def add():
    global c
    c = c + 2
    print("Inside add():", c)
add()
print("In main:", c)

Inside add(): 2
In main: 2

In [11]:
def foo():
    x = 20
    def bar():
        global x
        x = 25    
    print("Before calling bar: ", x)
    print("Calling bar now")
    bar()
    print("After calling bar: ", x)
foo()
print("x in main: ", x)

Before calling bar:  20
Calling bar now
After calling bar:  20
x in main:  25

In [12]:
x = "global"
def foo():
    print("x inside:", x)
foo()
print("x outside:", x)

x inside: global
x outside: global

In [ ]:
x = "global"
def foo()
    x = x*2
    print(x)
foo()

In [ ]:
def foo()
    y = 'local'
foo()  
print(y)

In [15]:
def foo():
    y = "local"
    print(y)
foo()

local

In [16]:
x = "global"
def foo():
    global x
    y = "local"
    x = x*2
    print(x)
    print(y)
foo()

globalglobal
local

In [17]:
x = 5
def foo():
    x = 10
    print("local x:",x)
foo()
print("global x:,x")

local x: 10
global x:,x

In [19]:
def outer():
    x = "local"
    def inner():
        nonlocal x
        x = "nonlocal"
        print("inner:",x)
    inner()
    print("outer:",x)
outer()

inner: nonlocal
outer: nonlocal