<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def my_function():
  print("Hello from a function")

In [3]:
def my_function():
  print("Hello from a function")
my_function()

Hello from a function

In [5]:
def my_function(fname):
  print(fname + " Refsnes")
my_function("Email")
my_function("Tobias")
my_function("Linus")

Email Refsnes
Tobias Refsnes
Linus Refsnes

In [6]:
def my_function(fname, lname):
  print(fname + " " + lname)
my_function("Emil", "Refsnes")

Emil Refsnes

In [ ]:
def my_function(fname, lname):
  print(fname + " " + lname)
my_function("Email")

In [12]:
def my_function(*kids):
  print("The youngest child is " + kids[2])
my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [13]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [14]:
def my_function(**kid):
  print("His last name is " + kid["lname"])
my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [15]:
def my_function(country = "Norway"):
  print("I am from " + country)
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [16]:
def my_function(food):
  for x in food:
    print(x)
fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

In [17]:
def my_function(x):
  return 5 * x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [18]:
def myfunction():
  pass

In [19]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result
print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21