<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/IF_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def check():
    return "jungkook"
print (1 and check())

jungkook

In [3]:
print (1 or check())

1

In [4]:
print (0 or check() or 1)

jungkook

In [5]:
print (0 or check() and 1)

1

In [7]:
def check(i):
    print ("jungkook")
    return i
print (all(check(i) for i in [1, 1, 0, 0, 3]))
print("\r")

jungkook
jungkook
jungkook
False

In [10]:
def check(i):
    print ("jungkook")
    return i
print (all(check(i) for i in [1, 2, 2, 2, 4]))
print("\r")

jungkook
jungkook
jungkook
jungkook
jungkook
True

In [11]:
print (any(check(i) for i in [0, 0, 0, 1, 3]))

jungkook
jungkook
jungkook
jungkook
True

In [12]:
def check(i):
    print ("jungkook")
    return i
print( 10 > 11 > check(3) )
print ("\r")

False

In [15]:
print( 10 < 11 > check(3) )
print ("\r")

jungkook
True

In [16]:
print( 10 < 11 < check(3) )
print ("\r")

jungkook
False

In [17]:
x = 5
print(1 < x < 10)
print(10 < x < 20 )
print(x < 10 < x*10 < 100)
print(10 > x <= 9)
print(5 == x > 4)

True
False
True
True
True

In [18]:
x = 7
print(1 < x < 10)
print(10 < x < 20 )
print(x < 10 < x*10 < 100)
print(10 > x <= 9)
print(5 == x > 4)

True
False
True
True
False

In [19]:
a, b, c, d, e, f = 0, 5, 12, 0, 15, 15
exp1 = a <= b < c > d is not e is f
exp2 = a is d > f is not c
print(exp1)
print(exp2)

True
False

In [20]:
high_income = False
good_credit = False
student = False
if good_credit or high_income or student:
   print("eligible for loan")
else:
    print("xxyyzz")

xxyyzz

In [23]:
high_income = False
good_credit = False
student = True
if good_credit or high_income and student:
   print("eligible for loan")
else:
    print("xxyyzz")

xxyyzz

In [22]:
high_income = False
good_credit = True
student = True
if good_credit or high_income and student:
   print("eligible for loan")
else:
    print("xxyyzz")

eligible for loan

In [25]:
high_income = True
good_credit = True
student = True
if good_credit or high_income or student:
   print("eligible for loan")
else:
    print("xxyyzz")

eligible for loan

In [26]:
age = int(input("enter a number :"))
if age >=18 and age < 65:
   print("eligible for loan")
else:
   print("not eligible")

enter a number :7
not eligible

In [27]:
age = int(input("enter a number :"))
if age >=18 and age > 65:
   print("eligible for loan")
else:
   print("not eligible")

enter a number :8
not eligible

In [28]:
age = int(input("enter a number :"))
if age >=18 and age > 65:
   print("eligible for loan")
else:
   print("not eligible")

enter a number :85
eligible for loan

In [29]:
age = int(input("enter a number :"))
if age <=18 and age < 65:
   print("eligible for loan")
else:
   print("not eligible")

enter a number :88
not eligible