<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/IF_Program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def check():
    return "jungkook"
print (1 and check())

jungkook

In [ ]:
print (1 or check())

1

In [ ]:
print (0 or check() or 1)

jungkook

In [ ]:
print (0 or check() and 1)

1

In [ ]:
def check(i):
    print ("jungkook")
    return i
print (all(check(i) for i in [1, 1, 0, 0, 3]))
print("\r")

jungkook
jungkook
jungkook
False

In [ ]:
def check(i):
    print ("jungkook")
    return i
print (all(check(i) for i in [1, 2, 2, 2, 4]))
print("\r")

jungkook
jungkook
jungkook
jungkook
jungkook
True

In [ ]:
print (any(check(i) for i in [0, 0, 0, 1, 3]))

jungkook
jungkook
jungkook
jungkook
True

In [ ]:
def check(i):
    print ("jungkook")
    return i
print( 10 > 11 > check(3) )
print ("\r")

False

In [ ]:
print( 10 < 11 > check(3) )
print ("\r")

jungkook
True

In [ ]:
print( 10 < 11 < check(3) )
print ("\r")

jungkook
False

In [ ]:
x = 5
print(1 < x < 10)
print(10 < x < 20 )
print(x < 10 < x*10 < 100)
print(10 > x <= 9)
print(5 == x > 4)

True
False
True
True
True

In [ ]:
x = 7
print(1 < x < 10)
print(10 < x < 20 )
print(x < 10 < x*10 < 100)
print(10 > x <= 9)
print(5 == x > 4)

True
False
True
True
False

In [ ]:
a, b, c, d, e, f = 0, 5, 12, 0, 15, 15
exp1 = a <= b < c > d is not e is f
exp2 = a is d > f is not c
print(exp1)
print(exp2)

True
False

In [ ]:
high_income = False
good_credit = False
student = False
if good_credit or high_income or student:
   print("eligible for loan")
else:
    print("xxyyzz")

xxyyzz

In [ ]:
high_income = False
good_credit = False
student = True
if good_credit or high_income and student:
   print("eligible for loan")
else:
    print("xxyyzz")

xxyyzz

In [ ]:
high_income = False
good_credit = True
student = True
if good_credit or high_income and student:
   print("eligible for loan")
else:
    print("xxyyzz")

eligible for loan

In [ ]:
high_income = True
good_credit = True
student = True
if good_credit or high_income or student:
   print("eligible for loan")
else:
    print("xxyyzz")

eligible for loan

In [ ]:
age = int(input("enter a number :"))
if age >=18 and age < 65:
   print("eligible for loan")
else:
   print("not eligible")

enter a number :7
not eligible

In [ ]:
age = int(input("enter a number :"))
if age >=18 and age > 65:
   print("eligible for loan")
else:
   print("not eligible")

enter a number :8
not eligible

In [ ]:
age = int(input("enter a number :"))
if age >=18 and age > 65:
   print("eligible for loan")
else:
   print("not eligible")

enter a number :85
eligible for loan

In [ ]:
age = int(input("enter a number :"))
if age <=18 and age < 65:
   print("eligible for loan")
else:
   print("not eligible")

enter a number :88
not eligible

In [ ]:
for i in range(5):
    print('attempt',i)

attempt 0
attempt 1
attempt 2
attempt 3
attempt 4

In [ ]:
for number in range(1,10):
    print('eligible',number)

eligible 1
eligible 2
eligible 3
eligible 4
eligible 5
eligible 6
eligible 7
eligible 8
eligible 9

In [ ]:
for number in range(0,3):
    print('attempt',number + 1,(number+1) * ',')

attempt 1 ,
attempt 2 ,,
attempt 3 ,,,

In [1]:
for number in range(0,3):
    print('attempt',number + 1,(number+1) * '+')

attempt 1 +
attempt 2 ++
attempt 3 +++

In [2]:
for number in range(0,9):
    print('attempt',number + 1,(number+1) * '/')

attempt 1 /
attempt 2 //
attempt 3 ///
attempt 4 ////
attempt 5 /////
attempt 6 //////
attempt 7 ///////
attempt 8 ////////
attempt 9 /////////

In [3]:
for number in range(0,9):
    print('attempt',number + 1,(number+1) * '-')

attempt 1 -
attempt 2 --
attempt 3 ---
attempt 4 ----
attempt 5 -----
attempt 6 ------
attempt 7 -------
attempt 8 --------
attempt 9 ---------

In [4]:
for number in range(0,7):
    print('attempt',number + 1,(number+1) * '"')

attempt 1 "
attempt 2 ""
attempt 3 """
attempt 4 """"
attempt 5 """""
attempt 6 """"""
attempt 7 """""""

In [ ]:
for number in range(0,7):
    print('attempt',number + 1,(number+1) * '.')

attempt 1 .
attempt 2 ..
attempt 3 ...
attempt 4 ....
attempt 5 .....
attempt 6 ......
attempt 7 .......

In [ ]:
for num in range (2,10,2):
    print(num)
    num = num**num
    print(num)

2
4
4
256
6
46656
8
16777216

In [5]:
for num in range (2,10,2):
    print(num)
    num = num++num
    print(num)

2
4
4
8
6
12
8
16

In [7]:
for num in range (9,10,2):
    print(num)
    num = num--num
    print(num)

9
18

In [9]:
for num in range (9,7,4):
    print(num)
    num = num//num
    print(num)