<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/Loops_in_pyhton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [ ]:
for x in range(6):
  print(x)
else:
  print("Bts army!")

0
1
2
3
4
5
Bts army!

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
print(x)

banana

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
print(x)

cherry

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [ ]:
for x in range(6):
  print(x)
else:
  print("jungkook is my bias")

0
1
2
3
4
5
jungkook is my bias

In [ ]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("jungkook is my bias")

0
1
2

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
   print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
for x in [0, 1, 2]:
 print(x)

0
1
2

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [ ]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [ ]:
names = ['jin', 'v', 'jungkook']
for name in names:
    count = 0
    while count < 5:
        print(name, end=' ')
        count = count + 1
    print()

jin jin jin jin jin
v v v v v
jungkook jungkook jungkook jungkook jungkook

In [ ]:
for name in range(5):
    for j in range(3):
        print('*', end='')
    print()

***
***
***
***
***

In [ ]:
for i in range(4):
    for j in range(4):
        if j == i:
            break
        print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2

In [ ]:
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

In [ ]:
i = 1
while i <= 5:
    j = 1
    while j <= 10:
        print(j, end='')
        j = j + 1
    i = i + 1
    print()

12345678910
12345678910
12345678910
12345678910
12345678910

In [ ]:
age = 45
salary = 1456.8
name = "sahishta"
print(age)
print(salary)
print(name)

45
1456.8
sahishta

In [ ]:
Number = 100
print( Number)

100

In [ ]:
Number = 100
print("Before declare: ", Number)
Number = 120.3
print("After re-declare:", Number)

Before declare:  100
After re-declare: 120.3

In [ ]:
a = b = c = 10
print(a)
print(b)
print(c)

10
10
10

In [ ]:
a, b, c = 1, 20.2, "jungkookforjungkook"
print(a)
print(b)
print(c)

1
20.2
jungkookforjungkook

In [ ]:
a = 10
a = "jungkookforjungkook"
print(a)

jungkookforjungkook

In [ ]:
a = 10
b = 20
print(a+b)
a = "jungkookfor"
b = "jungkook"
print(a+b)

30
jungkookforjungkook

In [ ]:
def f():
    s = "Welcome bts"
    print(s)
f()

Welcome bts

In [ ]:
def f():
    print(s)
s = "I love jungkookforjungkook"
f()

I love jungkookforjungkook

In [ ]:
x = 15
def change():
    global x
    x = x+5
    print("value of x inside function:",x)
change()  
print("value of x outside function:",x)

value of x inside function: 20
value of x outside function: 20

In [16]:
class CSStudent:
    stream = 'cse'            
    def __init__(self, roll):
        self.roll = roll       
a = CSStudent(101)
b = CSStudent(102)
print(a.stream) 
print(b.stream) 
print(a.roll)    
print(CSStudent.stream)

cse
cse
101
cse