<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/Loops_in_pyhton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [2]:
for x in range(6):
  print(x)
else:
  print("Bts army!")

0
1
2
3
4
5
Bts army!

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [4]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [5]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [9]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
print(x)

banana

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
print(x)

cherry

In [8]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [10]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [11]:
for x in range(6):
  print(x)
else:
  print("jungkook is my bias")

0
1
2
3
4
5
jungkook is my bias

In [12]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("jungkook is my bias")

0
1
2

In [13]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
   print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [14]:
for x in [0, 1, 2]:
 print(x)

0
1
2

In [15]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [16]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [17]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [18]:
names = ['jin', 'v', 'jungkook']
for name in names:
    count = 0
    while count < 5:
        print(name, end=' ')
        count = count + 1
    print()

jin jin jin jin jin
v v v v v
jungkook jungkook jungkook jungkook jungkook

In [19]:
for name in range(5):
    for j in range(3):
        print('*', end='')
    print()

***
***
***
***
***

In [20]:
for i in range(4):
    for j in range(4):
        if j == i:
            break
        print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2

In [21]:
first = [2, 4, 6]
second = [2, 4, 6]
for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '= ', i * j)

2 * 4 =  8
2 * 6 =  12
4 * 2 =  8
4 * 6 =  24
6 * 2 =  12
6 * 4 =  24

In [23]:
i = 1
while i <= 5:
    j = 1
    while j <= 10:
        print(j, end='')
        j = j + 1
    i = i + 1
    print()

12345678910
12345678910
12345678910
12345678910
12345678910