<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/Math_Module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import math
print (math.e)

2.718281828459045

In [4]:

print (math.pi)

3.141592653589793

In [3]:
r=4
pie = math.pi
print(pie * r * r)

50.26548245743669

In [8]:
r=4
pie = math.pi
print(pie * r + r)

16.566370614359172

In [9]:
r=4
pie = math.pi
print(pie + r + r)

11.141592653589793

In [10]:
r=4
pie = math.pi
print(pie - r - r)

-4.858407346410207

In [7]:
print (math.tau)

6.283185307179586

In [11]:
print (math.inf)

inf

In [12]:
print (-math.inf)

-inf

In [13]:
print (math.inf > 10e108)

True

In [14]:
print (math.inf < 10e108)

False

In [15]:
print (-math.inf < -10e108)

True

In [16]:
print (math.nan)

nan

In [17]:
a = 2.3
print ("The ceil of 2.3 is : ", end="")
print (math.ceil(a))

The ceil of 2.3 is : 3

In [18]:
print ("The floor of 2.3 is : ", end="")
print (math.floor(a))

The floor of 2.3 is : 2

In [19]:
a = 5
print("The factorial of 5 is : ", end="")
print(math.factorial(a))

The factorial of 5 is : 120

In [20]:
a = 15
b = 5
print ("The gcd of 5 and 15 is : ", end="")
print (math.gcd(b, a))

The gcd of 5 and 15 is : 5

In [24]:
print(math.sqrt(0))

0.0

In [22]:
print(math.sqrt(4))

2.0

In [23]:
print(math.sqrt(3.5))

1.8708286933869707

In [28]:
def check(n):
    if n == 1:
        return False
    for x in range(2, (int)(math.sqrt(n))+1):
        if n % x == 0:
            return False 
    return True
n = 23
if check(n):
    print("prime") 
else:
    print("not a prime")

prime

In [32]:
import numpy as Bts 
arr1 = Bts.sqrt([1, 4, 9, 16])
arr2 = Bts.sqrt([6, 10, 18])
print("square-root of an array1  : ", arr1)
print("square-root of an array2  : ", arr2)

square-root of an array1  :  [1. 2. 3. 4.]
square-root of an array2  :  [2.44948974 3.16227766 4.24264069]

In [31]:
import numpy as Bts 
arr = Bts.sqrt([4, -1, -5 + 9J])
print("square-root of an array  : ", arr)

square-root of an array  :  [2.        +0.j         0.        +1.j         1.62721083+2.76546833j]

In [34]:
import numpy as Bts
arr = Bts.sqrt([-4, 5, -6])
print("square-root of an array  : ", arr)

square-root of an array  :  [       nan 2.23606798        nan]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in sqrt

In [35]:
import numpy as np
arr1 = [1, -3, 15, -466]
print ("Square Value of arr1 : \n", np.square(arr1))

Square Value of arr1 :
 [     1      9    225 217156]

In [36]:
arr2 = [23 ,-56]
print ("\nSquare Value of arr2 : ", np.square(arr2))

Square Value of arr2 :  [ 529 3136]

In [37]:
import numpy as np
a = 4 + 3j
print("Square(4 + 3j) : ", np.square(a))

Square(4 + 3j) :  (7+24j)

In [38]:
b = 16 + 13j
print("\nSquare value(16 + 13j) : ", np.square(b))

Square value(16 + 13j) :  (87+416j)

In [39]:
in_num1 = 10
in_num2 = 15
print ("1st Input  number : ", in_num1)
print ("2nd Input  number : ", in_num2)

1st Input  number :  10
2nd Input  number :  15

In [40]:
out_num = Bts.add(in_num1, in_num2) 
print ("output number after addition  : ", out_num)

output number after addition  :  25

In [42]:
in_num1 = 4
in_num2 = 6
print ("1st Input  number : ", in_num1)
print ("2nd Input  number : ", in_num2)
out_num = Bts.subtract(in_num1, in_num2)

1st Input  number :  4
2nd Input  number :  6

In [43]:
print ("Difference of two input number : ", out_num)

Difference of two input number :  -2