<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/program_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
    p = 250000
    r = 36
    t = 1

    si = (p*r*t)/100
    print(si)

90000.0

In [ ]:
p = float(input("Enter the principle amount : "))
r = float(input("Enter the rate of interest : "))
t = float(input("Enter the time in the years  : "))

si = (p*r*t)/100

print("Principle amount: ", p)
print("Interest rate   : ", r)
print("Time in years   : ", t)
print("Simple Interest : ", si)

Enter the principle amount : 2000
Enter the rate of interest : 2.5
Enter the time in the years  : 7
Principle amount:  2000.0
Interest rate   :  2.5
Time in years   :  7.0
Simple Interest :  350.0

In [ ]:
p = float(input("Enter the principle amount : "))
r = float(input("Enter the rate of interest : "))
t = float(input("Enter the time in the years  : "))

si = (p*r*t)/100

print("Principle amount: ", p)
print("Interest rate   : ", r)
print("Time in years   : ", t)
print("Simple Interest : ", si)

Enter the principle amount : 7000
Enter the rate of interest : 6.5
Enter the time in the years  : 7
Principle amount:  7000.0
Interest rate   :  6.5
Time in years   :  7.0
Simple Interest :  3185.0

In [ ]:
    p = 250000
    r = 25
    t = 2

    ci =  p * (pow((1 + r / 100), t)) 
    print(ci)

390625.0

In [ ]:
p = float(input("Enter the principle amount : "))
r = float(input("Enter the rate of interest : "))
t = float(input("Enter the time in years : "))

ci =  p * (pow((1 + r / 100), t)) 

print("Principle amount  : ", p)
print("Interest rate     : ", r)
print("Time in years     : ", t)
print("compound Interest : ", ci)

Enter the principle amount : 6000
Enter the rate of interest : 6.5
Enter the time in years : 7
Principle amount  :  6000.0
Interest rate     :  6.5
Time in years     :  7.0
compound Interest :  9323.919274875521

In [ ]:
p = float(input("Enter the principle amount : "))
r = float(input("Enter the rate of interest : "))
t = float(input("Enter the time in years : "))

ci =  p * (pow((1 + r / 100), t)) 

print("Principle amount  : ", p)
print("Interest rate     : ", r)
print("Time in years     : ", t)
print("compound Interest : ", ci)

Enter the principle amount : 9000
Enter the rate of interest : 7.8
Enter the time in years : 6
Principle amount  :  9000.0
Interest rate     :  7.8
Time in years     :  6.0
compound Interest :  14123.914326772283

In [ ]:
import calendar
year=int(input('Enter the value of year: '))
leap_year=calendar.isleap(year)

if leap_year: 
    print('The given year is a leap year.')
else:
    print('The given year is a non-leap year.')

Enter the value of year: 2000
The given year is a leap year.

In [ ]:
import calendar
year=int(input('Enter the value of year: '))
leap_year=calendar.isleap(year)

if leap_year: 
    print('The given year is a leap year.')
else:
    print('The given year is a non-leap year.')

Enter the value of year: 2001
The given year is a non-leap year.

In [ ]:
y=int(input('Enter the value of year: '))
if y%400==0 or y%4==0 and y%100!=0: 
    print('The given year is a leap year.')
else:
    print('The given year is a non-leap year.')

Enter the value of year: 2005
The given year is a non-leap year.

In [ ]:
y=int(input('Enter the value of year: '))
if y%400==0 or y%4==0 and y%100!=0: 
    print('The given year is a leap year.')
else:
    print('The given year is a non-leap year.')

Enter the value of year: 2004
The given year is a leap year.

In [ ]:
for row in range (0,5):
    for column in range (0, row+1):
        print ("*", end="")
    print('\r')

*
**
***
****
*****

In [ ]:
for row in range(0,5):
    for column in range(0,row+1):
        print("1 ",end="")
    print('\r')

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1

In [ ]:
for row in range (0, 5):
    n = 1
    for column in range (0, row+1):
        print(n, end=" ")
        n = n+1
    print('\r')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n = 1
for row in range (0, 5):
    for column in range (0, row+1):
        print(n, end=" ")
        n = n+1
    print('\r')

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [ ]:
for row in range (0, 5):
    n = 65
    for column in range (0, row+1):
        c = chr(n)
        print(c, end=" ")
        n = n+1
    print('\r')

A
A B
A B C
A B C D
A B C D E