<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/Python_program_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(12)
print(12.56)
print("Hello")
print(True)

12
12.56
Hello
True

In [3]:
print(12+30)
print(12.56+12.45)
print("Hello" + "World")
print(True+False)

42
25.009999999999998
HelloWorld
1

In [4]:
a =12
b =12.56
c =("Hello")
d =True

print(a)
print(b)
print(c)
print(d)

12
12.56
Hello
True

In [5]:
a =12
b =12.56
c =("Hello")
d =True

print("Integer\t:",a)
print("Float\t:",b)
print("String\t:",c)
print("Boolean\t",d)

Integer	: 12
Float	: 12.56
String	: Hello
Boolean	 True

In [6]:
a =12
b =12.56
c =("Hello")
d =True

print("Integer\t:" +str(a))
print("Float\t:" +str(b))
print("String\t:" +str(c))
print("Boolean\t" +str(d))

Integer	:12
Float	:12.56
String	:Hello
Boolean	True

In [7]:
print("Numbers")
print("---------------------------------")
a = 7
print(type(a),id(a),a)
a = 23.6
print(type(a),id(a),a)
a = 2 + 3j
print(type(a),id(a),a)

Numbers
---------------------------------
<class 'int'> 94198771063488 7
<class 'float'> 140391069927312 23.6
<class 'complex'> 140391069929136 (2+3j)

In [8]:
print("\nText")
print("---------------------------------")
a='h'
print(type(a),id(a),a)
a="h"
print(type(a),id(a),a)
a='hello'
print(type(a),id(a),a)
a="hello"
print(type(a),id(a),a)

Text
---------------------------------
<class 'str'> 140391725703728 h
<class 'str'> 140391725703728 h
<class 'str'> 140391167341296 hello
<class 'str'> 140391167341296 hello

In [9]:
print("\nBoolean")
print("---------------------------------")
a = True
print(type(a),id(a),a)

Boolean
---------------------------------
<class 'bool'> 94198770389248 True

In [10]:
print("\nFunction")
print("---------------------------------")
def fun1():
    return "I am Function"
a=fun1
print(type(a),id(a),a())

Function
---------------------------------
<class 'function'> 140391069073632 I am Function

In [12]:
print("\nObjects")
print("---------------------------------")
class Demo:
    def hi(self):
        return "Hi"
a=Demo()
print(type(a),id(a),a.hi())

Objects
---------------------------------
<class '__main__.Demo'> 140391069044944 Hi

In [13]:
print("\nCollections")
print("---------------------------------")
a=[1,2,3]
print(type(a),id(a),a)
a = []
print(type(a),id(a),a)
a=(1,2,3)
print(type(a),id(a),a)
a=()
print(type(a),id(a),a)
a=1,2,3
print(type(a),id(a),a)
a={1,2,3}
print(type(a),id(a),a)
a = {}
print(type(a),id(a),a)
a={"id":1,"name":"jungkook"}
print(type(a),id(a),a)

Collections
---------------------------------
<class 'list'> 140391068869488 [1, 2, 3]
<class 'list'> 140391068871008 []
<class 'tuple'> 140391068678336 (1, 2, 3)
<class 'tuple'> 140391726592080 ()
<class 'tuple'> 140391069109456 (1, 2, 3)
<class 'set'> 140391069259248 {1, 2, 3}
<class 'dict'> 140391069042480 {}
<class 'dict'> 140391069042720 {'id': 1, 'name': 'jungkook'}

In [15]:
a = 100
def func():
    b = 200
print("a: ", a, "b: ", b)
if __name__ == '__main__':
    c = 200
    print("a: ", a) 
    print("c: ", c) 
    func()
    a = a+10
    print("a: ", a)

a:  100 b:  12.56
a:  100
c:  200
a:  110

In [16]:
    b = 10.23
    c = "Hello"
    print("type(b): ", type(b))
    print("type(c): ", type(c))

type(b):  <class 'float'>
type(c):  <class 'str'>

In [17]:
a = 10
b = 10.3
c = "Hello"
d = (10,20,30,40)
e = [10,20,30,40]


print("type(a): ", type(a))
print("type(b): ", type(b))
print("type(c): ", type(c))
print("type(d): ", type(d))
print("type(e): ", type(e))

type(a):  <class 'int'>
type(b):  <class 'float'>
type(c):  <class 'str'>
type(d):  <class 'tuple'>
type(e):  <class 'list'>

In [19]:
print("type(10): ", type(10))
print("type(10.23): ", type(10.23))
print("type(\"Hello\"): ", type("Hello"))
print("type((10,20,30,40)): ", type((10,20,30,40)))
print("type([10,20,30,40]): ", type([10,20,30,40]))

type(10):  <class 'int'>
type(10.23):  <class 'float'>
type("Hello"):  <class 'str'>
type((10,20,30,40)):  <class 'tuple'>
type([10,20,30,40]):  <class 'list'>

In [20]:
a = 123     # integer (decimal format)
a = 0o123     # integer (decimal format)
a = 0x123AF    # integer (decimal format)
a = 0b11101    # integer (decimal format)

print("type(a): ", type(a))
print("type(b): ", type(b))
print("type(c): ", type(c))
print("type(d): ", type(d))

type(a):  <class 'int'>
type(b):  <class 'float'>
type(c):  <class 'str'>
type(d):  <class 'tuple'>

In [21]:
print("value of a: ", a)
print("value of b: ", b)
print("value of c: ", c)
print("value of d: ", d)

value of a:  29
value of b:  10.3
value of c:  Hello
value of d:  (10, 20, 30, 40)