<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/python_program_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 0b1010
b = 0b1010
c = 0b1010
d = 0b1010
e = 0b1010

print("type of the variables...")
print("type of a: ", type(a))
print("type of b: ", type(b))
print("type of c: ", type(c))
print("type of d: ", type(d))
print("type of e: ", type(e))

type of the variables...
type of a:  <class 'int'>
type of b:  <class 'int'>
type of c:  <class 'int'>
type of d:  <class 'int'>
type of e:  <class 'int'>

In [2]:
print("value of the variables in decimal format...")
print("value of a: ", a)
print("value of b: ", b)
print("value of c: ", c)
print("value of d: ", d)
print("value of e: ", e)

value of the variables in decimal format...
value of a:  10
value of b:  10
value of c:  10
value of d:  10
value of e:  10

In [3]:
print("value of the variables in binary format...")
print("value of a: ", bin(a))
print("value of b: ", bin(b))
print("value of c: ", bin(c))
print("value of d: ", bin(d))
print("value of e: ", bin(e))

value of the variables in binary format...
value of a:  0b1010
value of b:  0b1010
value of c:  0b1010
value of d:  0b1010
value of e:  0b1010

In [7]:
a = 0o1234567
b = 0o1234567
c = 0o1234567
d = 0o1234567
e = 0o1234567

print("type of the variables...")
print("type of a:", type(a))
print("type of b:",type (b))
print("type of c:",type(c))
print("type of d:", type(d))
print("type of e:",type(e))

type of the variables...
type of a: <class 'int'>
type of b: <class 'int'>
type of c: <class 'int'>
type of d: <class 'int'>
type of e: <class 'int'>

In [8]:
print("value of the variables in decimal format...")
print("value of a: ", a)
print("value of b: ", b)
print("value of c: ", c)
print("value of d: ", d)
print("value of e: ", e)

value of the variables in decimal format...
value of a:  342391
value of b:  342391
value of c:  342391
value of d:  342391
value of e:  342391

In [6]:
print("value of the variables in octal format...")
print("value of a: ", oct(a))
print("value of b: ", oct(b))
print("value of c: ", oct(c))
print("value of d: ", oct(d))
print("value of e: ", oct(e))

value of the variables in octal format...
value of a:  0o1234567
value of b:  0o1234567
value of c:  0o1234567
value of d:  0o1234567
value of e:  0o1234567

In [9]:
a = 0x123
a = 0x123
a = 0x123
a = 0x123
a = 0x123

print("type of the variables...")
print("type of a: ", type(a))
print("type of b: ", type(b))
print("type of c: ", type(c))
print("type of d: ", type(d))
print("type of e: ", type(e))

type of the variables...
type of a:  <class 'int'>
type of b:  <class 'int'>
type of c:  <class 'int'>
type of d:  <class 'int'>
type of e:  <class 'int'>

In [10]:
print("value of the variables in decimal format...")
print("value of a: ", a)
print("value of b: ", b)
print("value of c: ", c)
print("value of d: ", d)
print("value of e: ", e)

value of the variables in decimal format...
value of a:  291
value of b:  342391
value of c:  342391
value of d:  342391
value of e:  342391

In [11]:
print("value of the variables in hexadecimal format...")
print("value of a: ", hex(a))
print("value of b: ", hex(b))
print("value of c: ", hex(c))
print("value of d: ", hex(d))
print("value of e: ", hex(e))

value of the variables in hexadecimal format...
value of a:  0x123
value of b:  0x53977
value of c:  0x53977
value of d:  0x53977
value of e:  0x53977