<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/Second_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Hello from python")

Hello from python

In [ ]:
print(30)

30

In [ ]:
print(2 + 5)

7

In [ ]:
print("The answer:",38)

The answer: 38

In [ ]:
x = 7
print(x)

7

In [ ]:
x = 4 + 3
print(x)

7

In [ ]:
name = "Rose"
print(name,"is his name")

Rose is his name

In [ ]:
8 + 4

12

In [ ]:
x=7
3*x

21

In [ ]:
x = 7
y = x * 9
print(y)

63

In [ ]:
y

63

In [ ]:
y = y + 2
y

65

In [ ]:
y +=2
y

67

In [ ]:
a=True
b=False
print(a,b)

x=15>5
print(x)

True False
True

In [ ]:
i = -7
j = 120
print(i,j)

-7 120

In [ ]:
x=3.14509
y=-38.8
print(x*y)

-122.02949199999999

In [ ]:
k=1.5e3
l=3e-2
print(k)
print(l)

1500.0
0.03

In [ ]:
s="string with double quotes"
t="string with single quotes"
u="it's a string with apostrophes"
"""A string that extends
over multiple lines"""

'A string that extends\nover multiple lines'

In [ ]:
z=None
print(z)

None

In [ ]:
a=True
print(a,"is of",type(a))

True is of <class 'bool'>

In [ ]:
j=30
print(j,"is of",type(a))

30 is of <class 'bool'>

In [ ]:
s=29.8
print(s,"is of",type(s))

29.8 is of <class 'float'>

In [ ]:
j="Music"
print(j,"is of",type(j))

Music is of <class 'str'>

In [ ]:
r="None"
print(r,"is of",type(r))

None is of <class 'str'>

In [ ]:
print("Hello") # this will be ignored
# as will this
print("Goodbye")
# print "never seen"

Hello
Goodbye

In [ ]:
x=7.5
y=3

print('x=',x,'y=',y)
print('Additionx+y=',x+y)
print('Substractionx-y',x-y)
print('Multiplicationx*y',x*y)
print('Divisionx/y',x/y)

x= 7.5 y= 3
Additionx+y= 10.5
Substractionx-y 4.5
Multiplicationx*y 22.5
Divisionx/y 2.5

In [ ]:
x=7.5
y=3

print('x=',x,'y=',y)
print('divisionx/y=',x/y)
print('floored divisionx//y',x//y)
print(type(x//y))
print('modulus(remainder of x/y)x%y=',x%y)
print('exponentx**y=',10**2)

x= 7.5 y= 3
divisionx/y= 2.5
floored divisionx//y 2.0
<class 'float'>
modulus(remainder of x/y)x%y= 1.5
exponentx**y= 100

In [ ]:
x=7
y=13

print('x*(3+y)=',x*(3+y))
print('(x*3)+y=',(x*3)+y)
print('x*3+y=',x*3+y)

In [ ]:
int(7+0.5)

7

In [ ]:
float(7) + float(3)

10.0

In [ ]:
int(6.123)+2

+2+2

4

In [ ]:
print('Number'+ str(7))

Number7

In [10]:
user="sahishta"
lines=50
print("congratulations,"+user+"!you just wrote"+str(lines)+"lines of code.")

congratulations,sahishta!you just wrote50lines of code.

In [11]:
print(str(137.7))
f=336.7
print(str(f))

137.7
336.7

In [12]:
f=336.7
print("sahishta has"+str(f)+"points.")

sahishta has336.7points.

In [14]:
lines_yesterday='50'
lines_today='108'
lines_more=int(lines_today)-int(lines_yesterday)
print(lines_more)

58

In [18]:
total_points="5524.53"
new_points="45.30"
new_total_points=total_points+new_points
print(new_total_points)

5524.5345.30

In [19]:
total_points="5524.53"
new_points="45.30"
new_total_points=float(total_points)+float(new_points)
print(new_total_points)

5569.83

In [ ]:
print("3/4=",3/4)
print("3.0/4=",3.0/4)
print("float(3)/4=",float(3)/4)

3/4= 0.75
3.0/4= 0.75
float(3)/4= 0.75

In [1]:
num=23.45678
print(f'My number is:{num:{10}.{2}}')
print(f'Number is:{num:10.2f}')

My number is:   2.3e+01
Number is:     23.46

In [4]:
num=3.4
print(f'My number is:{num:{8}.{2}}')
print(f'Number is:{num:8.2f}')

My number is:     3.4
Number is:    3.40

In [7]:
num=3.45
print(f'My number is:{num:{11}.{2}}')
print(f'Number is:{num:11.2f}')

My number is:        3.5
Number is:       3.45

In [22]:
gfg = "12"
#float(gfg) gives 12.0
print(float(gfg)+2.0)

14.0

In [26]:
gfg = 100
#str(gfg) gives '100'
print(str(gfg)+" is a 3 digit number")
print(str(gfg)+"200")

100 is a 3 digit number
100200

In [27]:
gfg = 20.0
#str(gfg) becomes '20.0'
print(str(gfg)+" is now a string")
print(str(gfg)+"30.0")

20.0 is now a string
20.030.0