<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/string_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 'looked'
print("Misha %s and %s around"%('walked',x))

Misha walked and looked around

In [28]:
x = 'bts'
print("jungkook %s %s member"%('is',x))

jungkook is bts member

In [ ]:
print('Joe stood up and %s to the crowd.' %'spoke')
print('There are %d dogs.' %4)

Joe stood up and spoke to the crowd.
There are 4 dogs.

In [ ]:
print('The value of pi is: %5.4f' %(3.141592))

The value of pi is: 3.1416

In [ ]:
print('Floating point numbers: %1.0f' %(13.144))

Floating point numbers: 13

In [ ]:
variable = 12
string = "Variable as integer = %d \n\
Variable as float = %f" %(variable, variable)
print(string)

Variable as integer = 12
Variable as float = 12.000000

In [ ]:
print('We all are {}.'.format('equal'))

We all are equal.

In [ ]:
print('{2} {1} {0}'.format('directions','the', 'Read'))

Read the directions

In [ ]:
print('a: {a}, b: {b}, c: {c}'.format(a = 1,b = 'Two',c=12.3))

a: 1, b: Two, c: 12.3

In [ ]:
print('The first {p} was alright, but the {p} {p} was tough.'.format(p = 'second'))

The first second was alright, but the second second was tough.

In [1]:
print('The valueof pi is: %1.5f' %3.141592)
print('The valueof pi is: {0:1.5f}'.format(3.141592))

The valueof pi is: 3.14159
The valueof pi is: 3.14159

In [16]:
print('The valueof pi is: %1.5f' %3.1)
print('The valueof pi is: {0:1.5f}'.format(3.1))

The valueof pi is: 3.10000
The valueof pi is: 3.10000

In [2]:
name = 'Ele'
print(f"My name is {name}.")

My name is Ele.

In [3]:
a = 5
b = 10
print(f"He said his age is {2 * (a + b)}.")

He said his age is 30.

In [17]:
a = 5
b = 10
print(f"He said his age is {2 * (a - b)}.")

He said his age is -10.

In [18]:
a = 5
b = 10
print(f"He said his age is {2 + (a - b)}.")

He said his age is -3.

In [20]:
a = 5
b = 10
print(f"He said his age is {2 / (a - b)}.")

He said his age is -0.4.

In [21]:
a = 5
b = 10
print(f"He said his age is {2 / (a + b)}.")

He said his age is 0.13333333333333333.

In [22]:
a = 5
b = 10
print(f"He said his age is {2 / (a / b)}.")

He said his age is 4.0.

In [23]:
a = 5
b = 10
print(f"He said his age is {2 * (a * b)}.")

He said his age is 100.

In [19]:
a = 5
b = 10
print(f"He said his age is {2 - (a + b)}.")

He said his age is -13.

In [4]:
print(f"He said his age is {(lambda x: x*2)(3)}")

He said his age is 6

In [10]:
print(f"He said his age is {(lambda x: x+2)(3)}")

He said his age is 5

In [11]:
print(f"He said his age is {(lambda x: x-2)(3)}")

He said his age is 1

In [13]:
print(f"He said his age is {(lambda x: x/2)(3)}")

He said his age is 1.5

In [5]:
num = 3.14159
print(f"The valueof pi is: {num:{1}.{5}}")

The valueof pi is: 3.1416

In [9]:
num = 3.14159
print(f"The valueof pi is: {num:{2}.{6}}")

The valueof pi is: 3.14159