<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/Type_of_conversion%2Cfactorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 10
print("x is of type:",type(x))

x is of type: <class 'int'>

In [ ]:
y = 10.6
print("y is of type:",type(y))

y is of type: <class 'float'>

In [ ]:
x = 1 #int
y = 2.8 #float
z = 1j #complex
a = float(x)
b = float(y)
c = complex(z)
print(a)
print(b)
print(c)

1.0
2.8
1j

In [ ]:
print(type(a))

<class 'float'>

In [ ]:
print(type(b))

<class 'float'>

In [ ]:
print(type(c))

<class 'complex'>

In [ ]:
x = x+y
print(x)
print("x is of type:",type(x))

41.800000000000004
x is of type: <class 'float'>

In [ ]:
x = 10
print("x is of type:",type(x))
y = 10.6
print("y is of type:",type(y))
x = x+y
print(x)
print("x is of type:",type(x))

x is of type: <class 'int'>
y is of type: <class 'float'>
20.6
x is of type: <class 'float'>

In [ ]:
s = "10010"
c = int(s,2)
print ("After converting to integer base 2 : ", end="")
print (c)

After converting to integer base 2 : 18

In [ ]:
e = float(s)
print ("After converting to float : ", end="")
print (e)

After converting to float : 10010.0

In [ ]:
s = '4'
c = ord(s)
print ("After converting character to integer : ",end="")
print (c)

After converting character to integer : 52

In [ ]:
c = hex(56)
print ("After converting 56 to hexadecimal string : ",end="")
print (c)

After converting 56 to hexadecimal string : 0x38

In [ ]:
c = oct(56)
print ("After converting 56 to octal string : ",end="")
print (c)

After converting 56 to octal string : 0o70

In [ ]:
s = 'jungkook'
c = tuple(s)
print ("After converting string to tuple : ",end="")
print (c)

After converting string to tuple : ('j', 'u', 'n', 'g', 'k', 'o', 'o', 'k')

In [ ]:
c = set(s)
print ("After converting string to set : ",end="")
print (c)

After converting string to set : {'4'}

In [ ]:
c = list(s)
print ("After converting string to list : ",end="")
print (c)

After converting string to list : ['j', 'u', 'n', 'g', 'k', 'o', 'o', 'k']

In [ ]:
a = 1
b = 2
tup = (('a', 1) ,('f', 2), ('g', 3))
c = complex(1,2)
print ("After converting integer to complex number : ",end="")
print (c)

After converting integer to complex number : (1+2j)

In [ ]:
c = dict(tup)
print ("After converting tuple to dictionary : ",end="")
print (c)

After converting tuple to dictionary : {'a': 1, 'f': 2, 'g': 3}

In [ ]:
a = chr(76)
b = chr(77)
print(a)

L

In [ ]:
print(b)

M

In [ ]:
a = chr(7)
b = chr(8)
print(a)



In [ ]:
print(b)



In [ ]:
a = chr(85)
b = chr(86)
print(a)

U

In [ ]:
a = chr(85)
b = chr(86)
print(b)

V

In [ ]:
num_int = 123
num_flo = 1.23
num_new = num_int + num_flo
print("datatype of num_int:",type(num_int))
print("datatype of num_flo:",type(num_flo))

datatype of num_int: <class 'int'>
datatype of num_flo: <class 'float'>

In [ ]:
print("Value of num_new:",num_new)
print("datatype of num_new:",type(num_new))

Value of num_new: 124.23
datatype of num_new: <class 'float'>

In [ ]:
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))
print("Data type of num_str:",type(num_str))

Data type of num_int: <class 'int'>
Data type of num_str: <class 'str'>

In [ ]:
num_int = 123
num_str = "456"
print("Data type of num_int:",type(num_int))

Data type of num_int: <class 'int'>

In [ ]:
print("Data type of num_str after Type Casting:",type(num_str))

Data type of num_str after Type Casting: <class 'str'>

In [ ]:
print("Data type of num_str before Type Casting:",type(num_str))

Data type of num_str before Type Casting: <class 'str'>

In [1]:
n = 23
fact = 1
for i in range(1,n+1):
    fact = fact * i
print ("The factorial of 23 is : ",end="")
print (fact)

The factorial of 23 is : 25852016738884976640000

In [2]:
n = 23
fact = 1
for i in range(1,n+1):
    fact = fact + i
print ("The factorial of 23 is : ",end="")
print (fact)

The factorial of 23 is : 277

In [3]:
n = 23
fact = 1
for i in range(1,n*1):
    fact = fact + i
print ("The factorial of 23 is : ",end="")
print (fact)

The factorial of 23 is : 254

In [4]:
n = 24
fact = 2
for i in range(2,n+1):
    fact = fact * i
print ("The factorial of 24 is : ",end="")
print (fact)

The factorial of 24 is : 1240896803466478878720000

In [5]:
import math
print ("The factorial of 23 is : ", end="")
print (math.factorial(23))

The factorial of 23 is : 25852016738884976640000

In [6]:
import math
print ("The factorial of -5 is : ",end="")
print (math.factorial(-5))

The factorial of -5 is :

ValueError: ignored

In [7]:
import math
print ("The factorial of -5 is : ",end="")
print (math.factorial(5.6))

The factorial of -5 is :

ValueError: ignored

In [8]:
import math 
x = 5
print ("The factorial of 5 is : ", end ="") 
print (math.factorial(x))

The factorial of 5 is : 120

In [9]:
x=5
y=15
z=8
print ("The factorial of 5 is : ", math.factorial(x))
print ("The factorial of 15 is : ", math.factorial(y))
print ("The factorial of 8 is : ", math.factorial(z))

The factorial of 5 is :  120
The factorial of 15 is :  1307674368000
The factorial of 8 is :  40320

In [10]:
print ("math.factorial(13.7) : ", math.factorial(13.7))

ValueError: ignored