<a href="https://colab.research.google.com/github/Sahishta-Parbin/DIVINE-AI/blob/main/variables_sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
x = 10
y = 20
z = x
x = y
y = z
print("x=",x)
print("y=",y)

x= 20
y= 10

In [14]:
x = 10
y = 20
z = x
x,y = y,x
print("x=",x)
print("y=",y)

x= 20
y= 10

In [1]:
x = 5
y = 10
temp = x
x = y
y = temp
print('The value of x after swapping: {}'.format(x))
print('The value of x after swapping: {}'.format(y))

The value of x after swapping: 10
The value of x after swapping: 5

In [2]:
x = 5
y = 10
x, y = y, x
print("y =", y)

print("x =", x)

y = 5
x = 10

In [3]:
x = 10
y = 50
temp = x
x = y
y = temp
print("Value of x:", x)
print("Value of y:", y)

Value of x: 50
Value of y: 10

In [4]:
x = 10
y = 50
x = x ^ y
y = x ^ y
x = x ^ y
print("Value of y:", y)
print("Value of y:", y)

Value of y: 10
Value of y: 10

In [5]:
x = 10
y = 50
x = x + y
y = x - y
x = x - y
print("Value of y:", y)
print("Value of y:", y)

Value of y: 10
Value of y: 10

In [6]:
x = 10
y = 50
x = x * y
y = x / y
x = x / y
print("Value of y:", y)
print("Value of y:", y)

Value of y: 10.0
Value of y: 10.0

In [7]:
a = 5
b = 1
a = (a & b) + (a | b)
b = a + (~b) + 1
a = a + (~b) + 1
print("a after swapping: ", a)
print("b after swapping: ", b)

a after swapping:  1
b after swapping:  5

In [8]:
P = int( input("Please enter value for P: "))  
Q = int( input("Please enter value for Q: "))  
temp_1 = P  
P = Q    
Q = temp_1  
print ("The Value of P after swapping: ", P)  
print ("The Value of P after swapping: ", Q)

Please enter value for P: 45
Please enter value for Q: 54
The Value of P after swapping:  54
The Value of P after swapping:  45

In [9]:
P = int( input("Please enter value for P: "))  
Q = int( input("Please enter value for Q: "))  
P, Q = Q, P  
print ("The Value of P after swapping: ", P)  
print ("The Value of P after swapping: ", Q)

Please enter value for P: 43
Please enter value for Q: 23
The Value of P after swapping:  23
The Value of P after swapping:  43

In [10]:
P = int( input("Please enter value for P: "))  
Q = int( input("Please enter value for Q: "))  
P = P ^ Q  
Q = P ^ Q  
P = P ^ Q  
print ("The Value of P after swapping: ", P)  
print ("The Value of Q after swapping: ", Q)

Please enter value for P: 20
Please enter value for Q: 13
The Value of P after swapping:  13
The Value of Q after swapping:  20

In [11]:
P = int( input("Please enter value for P: "))  
Q = int( input("Please enter value for Q: "))  
P = P + Q  
Q = P - Q  
P = P - Q  
print ("The Value of P after swapping: ", P)  
print ("The Value of Q after swapping: ", Q)

Please enter value for P: 40
Please enter value for Q: 30
The Value of P after swapping:  30
The Value of Q after swapping:  40

In [12]:
P = int( input("Please enter value for P: "))  
Q = int( input("Please enter value for Q: "))  
P = P * Q  
Q = P / Q  
P = P /43 Q  
print ("The Value of P after swapping: ", P)  
print ("The Value of Q after swapping: ", Q)

Please enter value for P: 56
Please enter value for Q: 43
The Value of P after swapping:  43.0
The Value of Q after swapping:  56.0

In [15]:
numbers =[1,2,3,4,5,6,7,8]
uniques = set(numbers)
print(uniques)

{1, 2, 3, 4, 5, 6, 7, 8}

In [16]:
numbers =[1,9,3,3,2,8,8,6,7,6]
uniques = set(numbers)
print(uniques)

{1, 2, 3, 6, 7, 8, 9}

In [22]:
numbers = [1,2,3,3,2,5,6,7,6,9]
first = set(numbers)
if 9 in first:
    print('yes')
else:
    print("no")

yes

In [23]:
numbers = [1,2,3,3,2,5,6,7,6,9]
first = set(numbers)
if 4 in first:
    print('yes')
else:
    print("no")

no

In [24]:
second = {1,4,5,7,8,9}
second.remove(9)
second

{1, 4, 5, 7, 8}

In [25]:
numbers = [1,9,2,3,3,2,5,6,7,6]
print(numbers)
first = set(numbers)
print(first)
first = {1,2,3,5,6,7,9}
second = {3,2,9,4,8}
print(first | second)
print(first & second)
print(first - second)

[1, 9, 2, 3, 3, 2, 5, 6, 7, 6]
{1, 2, 3, 5, 6, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{9, 2, 3}
{1, 5, 6, 7}